body {
    background-color: lightblue;
}

.heading-box {
    color: white;
    padding: 3%;
    font-family: 'Press Start 2P', cursive;
    background-image: url("https://media.giphy.com/media/2Eq9hBMQz8bss/giphy.gif"); ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border: 3px solid purple;
    margin-top: 5%;
}
.site-title {
    color: yellow;
}
.instructions {
    background-color: #ffffff80;
    padding: 3%;
    font-size: 80%;
    color: black;
    border: 1px dashed purple;
    font-weight: lighter;
}

img {
    width: 140px;
    height: 150px;
    align-content: center;
    
}

.card {
    margin-bottom: 3%;
    padding: 2%;
    background-color: darkcyan;
    
}

.card p {
    font-family: fantasy;
    margin-top: 5%;
    color: white;
}
.gif-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80vw;
}
.buttons-box {
    display: flex;
    justify-content: space-between;
}
.cartoon-btn {
    width: 8vw;
    font-size: 75%;
}
.form-group {
    color: white;
    font-weight: bolder;
    font-family:'Press Start 2P', cursive;
    text-align: center;
    margin-top: 5vh;
    
    padding: 0%;
    /* background-image: url("https://media.giphy.com/media/2Eq9hBMQz8bss/giphy.gif"); ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
}

#cartoon-input {
    margin-top: 3%;
    height: 3vh;
}
#submitBoxLabel {
    background-color: black;
    padding: 2%;
    border: 2px solid blue;
}

#clear-button, #save-button, #search-button {
    margin-top: 3%;
    font-size: 67%;
    padding: 1%;
    color: white;
    border: 2px solid blue;
    background-color: black;
}